/* Mobile */
/*@media (min-width: 320px) and (max-width: 375px){
    main {
        margin: 5vh 0.5em 5vh;
    }
    
    .main-hero {
        min-height: 40vh;
        padding-top: 3em;
    }
    
    section {
        position: relative;
        min-height: 80vh;
    }
}*/